pandas==1.0.3
numpy==1.18.2
geopy==1.21.0
geocoder==1.38.1
watermark==2.0.2
requests==2.22.0
bs4==4.9.0
re==2.2.1
csv==1.0
matplotlib==3.2.1
folium==0.10.1
json==2.0.9
pandas.io.json==1.0.3
sklearn==0.22.2.post1